<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3 userProfile row" style="margin-bottom: 10px">
                <h4 class="text-primary">@User.FindFirst("Name")?.Value</h4>
                <p class="text-secondary mb-1">@User.FindFirst("status")?.Value</p>
                <p class="text-muted font-size-sm">@User.FindFirst("Region")?.Value</p>
                <div class="row justify-content-end">
                    <a class="btn btn-secondary col-md-4" href="/User/Details/@User.FindFirst("UserID")?.Value">
                        Profile
                    </a>
                    <form class="col-md-6" asp-controller="Login" asp-action="Logout">
                        <button class="btn btn-dark btn-secondary" type="submit">Logout</button>
                    </form>
                </div>

            </div>

            <button class="btn btn-primary memberships-navbar" type="button" data-toggle="collapse" data-target="#membershipLinks" aria-expanded="false" aria-controls="membershipLinks">
                Your Memberships
            </button>
            <div class="collapse mt-2" id="membershipLinks" style="height: 10px">
                <div class="memberships-navbar">
                    <a class="btn btn-secondary" href="/Memberships/Index">View Your Memberships</a>
                    <a class="btn btn-secondary" href="/Memberships/Create">Become a Member</a>
                </div>
            </div>

            <button class="btn btn-primary bookings-navbar" type="button" data-toggle="collapse" data-target="#bookingLinks" aria-expanded="false" aria-controls="bookingLinks">
                Your Bookings
            </button>
            <div class="collapse mt-2" id="bookingLinks" style="height: 10px">
                <div class="bookings-navbar">
                    <a class="btn btn-secondary" href="/Bookings/Index">View Your Bookings</a>
                    <a class="btn btn-secondary" href="/Bookings/Create">Book an Amenity</a>
                </div>
            </div>
        </div>
    </div>
</div>