@model FitHub.Models.Membership

@{
    ViewData["Title"] = "Create";
}

<div class="details-content body-header d-flex justify-content-between">
    <h2>Purchase a membership</h2>
    <div class="navbuttons">
        <a class="btn btn-success" asp-action="Index">Back</a>
    </div>
</div>
<hr />
<br />
<div class="body-content">
    <h6>Please select a membership from the dropdown list, and choose the start date</h6>
    <div class="row">
        <div class="col-md-6">
            <form class=" card-body" asp-action="Create">
                <div class="form-group">
                    <label asp-for="MembershipTypeID" class="control-label"></label>
                    <select asp-for="MembershipTypeID" class="form-control" asp-items="ViewBag.MembershipTypeID">
                        <option value="" disabled selected>Choose a membership</option> <!-- Default value -->
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-md-6"> </div>
                    <input type="submit" value="Proceed" class="btn btn-primary col-md-6" />
                </div>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
        </div>
        <div class="col-md-6">
            <div id="membershipDescriptionDiv" class="word-wrap">

                <p id="membershipDescription"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Function to fetch and display the membership description
        function fetchMembershipDescription() {
            var data = @Html.Raw(Json.Serialize(ViewBag.Details));
            console.log(data);
            var selectedMembershipType = $('#MembershipTypeID').val();
            console.log("Membership Type: " + selectedMembershipType);

            if (!selectedMembershipType) {
                $("#membershipDescriptionDiv").html('<em>Please select a membership to view details.</em>');
            } else{
                $("#membershipDescriptionDiv").html('<strong>What you get with this membership</strong><br />' + data[selectedMembershipType]);

            }

                    }

        // Call the function when the membership dropdown changes
        $("#MembershipTypeID").on('input', fetchMembershipDescription);

        // Fetch description when the page loads (if needed)
        fetchMembershipDescription();
    </script>

}


