@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1 class="display-4">Hello There!</h1>
    @Html.Partial("~/Views/Shared/Login.cshtml")
    <br />
    <p>
        Don't have an account with us?
        <a href="@Url.Action("Create", "User")">Sign Up</a>
        </p>
</div>


