@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1 class="display-4"> <br /> Welcome to FitHub.</h1>
    <h2>Please <a href="/Login">click here</a> to login</h2>
    <h2>
        Don't have an account with us?
        <a href="@Url.Action("Create", "User")">Sign Up</a>
    </h2>
    <br />
    <p>

    </p>
</div>


